<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style type="text/css">
      body { 
        width: 210mm;
        height: 297mm; 
        font-size: 14px;
        padding: 10mm;
        font-family: "Segoe UI";
      }
      .table-container {
        width: 100%;
      }
      table { 
        width: 100%;
        border-collapse: collapse;
      }
      td, th{
        border: 1px solid black;
        padding: 6px 0px 6px 4px;
      }
      header { 
        height: 80px;
      } 
      .information-container {
        display: flex; 
        font-weight: bold;
        line-height: 0;
        font-size: 12px;
        margin-top: 3%;
        padding: 0;
        margin-bottom: 0;
      } 
      .code_matiere { 
        width: 90px; 
      } 
      .coeff, .note { 
        width: 70px; 
      } 
      .note_ponderee { 
        width: 105px; 
      } 
      .obs { 
        width:80px; 
      } 
      .text-center { 
        text-align: center; 
      } 
      .font-bold { 
        font-weight:bold; 
      } 
      .float-right { 
        float: right; 
        margin-right: 40px; 
      }
      h1 {
        font-size: 14px;
        margin-top: 0;
      }
      .opacity-0 {
        opacity: 0;
      }
      .text-right {
        text-align: right;
      }
      .pr-4 {
        padding-right: 4px;
      }
      .pb-4 {
        padding-bottom: 4px;
      }
      .pt-4 {
        padding-top: 4px;
      }
      .h-full {
        height: 100%;
      }
      .pb-2{
        padding-bottom: 2px;
      }
      .border-white {
        border: 1px solid white;
      }
      .w-350 {
        width: 350px;
      }
      .w-full {
        width: 100%;
      }
      .pr-\[5\%\] {
        padding-right: 5%;
      }
      .ml-\[5\%\] {
        margin-left: 5%;
      }
      .w-\[65\%\] {
        width: 65%;
      }
      .mt-\[2\%\] {
        margin-top: 2%;
      }
    </style>
  </head>
  <body>
    <div class="information-container border-whites">
      <div class="h-full w-full border-white">
        <p>Nom et prénom(s): {{result.nom}} {{result.prenoms}}</p>
        <p>Relevé des notes - Semestre {{result.semestre}}</p>
        <p>Session {{result.session}}</p>
        <p>Année académique: {{result.annee_universitaire}}</p>
        <p class="opacity-0">Text opacity 0</p>
      </div>
      <div class="h-full w-[65%] ml-[5%] border-white">
        <p class="opacity-0">Text opacity 0</p>
        <p>N° matricule: {{result.num_matricule}}</p>
        <p>Inscrit en: {{result.niveau}}</p>
        <p>Groupe: {{result.groupe}}</p>
        <p class="opacity-0">Text opacity 0</p>
      </div>
    </div>
    <h1 class="text-center">Notes et résultats</h1>
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th class="code_matiere text-center">Code</th>
            <th class="matiere text-center">Matières</th>
            <th class="coeff text-center">Coeff</th>
            <th class="note text-center">Note</th>
            <th class="note_ponderee text-center">Note pondérée</th>
            <th class="obs text-center">Obs</th>
          </tr>
        </thead>
        <tbody>
          {{#each result.notes}}
            <tr>
              <td colspan="5" class="font-bold text-center">
                <span>UE </span>{{this.designation_ue}}
                ({{this.credit}}
                crédits max.)
              </td>
              <td></td>
            </tr>
            {{#each this.matieres}}
              <tr>
                <td class="font-bold text-center">{{this.code_matiere}}</td>
                <td>{{this.designation_matiere}}</td>
                <td class="text-center">{{this.coeff}}</td>
                <td class="text-center">{{this.note_matiere}}</td>
                <td class="text-center">{{notePonderee
                    this.note_matiere
                    this.coeff
                  }}</td>
                <td></td>
              </tr>
            {{/each}}

            <tr>
              <td></td>
              <td></td>
              <td colspan="2" class="font-bold text-center">Moy UE</td>
              <td class="text-center">{{getArrayIndexValue @index ../this.moy_ue_tab}}</td>
              <td class="text-right pr-4">{{getArrayIndexValue @index ../this.validation_tab}}</td>
            </tr>
          {{/each}}
          <tr>
            <td class="font-bold">Semestre ({{result.somme_coeff}} crédits max.)</td>
            <td></td>
            <td colspan="2" class="font-bold text-center">Moy.GEN</td>
            <td class="text-center">{{result.moy_gen}}</td>
            <td></td>
          </tr>
        </tbody>
      </table>
      <p class="float-right mt-[2%]">Antananarivo le {{this.formattedDate}}</p>
    </div>
  </body>
</html>